name: Build iOS simulator

on:
  workflow_dispatch:  # Run manually

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      - name: Get dependencies
        run: flutter pub get

      - name: Build iOS simulator app
        run: |
          flutter build ios --simulator --release
          cd build/ios/iphonesimulator
          zip -r Runner.app.zip Runner.app

      - name: Upload build artifact
        uses: actions/upload-artifact@v3
        with:
          name: ios-simulator-app
          path: build/ios/iphonesimulator/Runner.app.zip
